#kboard-document{
  .content-view{
    img{
      display: block !important;
      margin: 0 auto !important;
      box-sizing: border-box;
      border:5px solid #EEE;
      box-shadow: 0 0 10px rgba(#000,0.3);
    }
  }
}